@import "tailwindcss";

@layer base {
    :root {
        --font-sans:
            var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
        --font-mono:
            var(--font-geist-mono), ui-monospace, "Cascadia Code",
            "Roboto Mono", monospace;
    }
}
